html, body { 
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.uploads {
	display: flex;
}
.upload img {
	width: 300px;
	height: 300px;
	object-fit: none; /* Do not scale the image */
  	object-position: center; /* Center the image within the element */
}