* {
	box-sizing: border-box;
}
html, body { 
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
h3 {
	text-align: center;
}
a:visited {
	color: inherit;
}
a:hover {
	text-decoration: none;
}
/* .container {
	width: 90%;
	max-width: 1024px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
} */
.uploads {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	margin-bottom: 10px;
}

.upload div {
	margin-bottom: 5px;
}
.upload img {
	border-style: solid;
	padding: 10px;
	margin-bottom: 10px;
	width: 400px;
	height: 400px;
	/* Do not scale the image */
	object-fit: cover; 
  	object-position: center; /* Center the image within the element */
}
.buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.button_a {
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	background: lightblue;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
}