{% extends 'base.html' %}
{% block content %}
{{ super() }}
<h3>Files for compare</h3>
<div class="uploads">
{% block forms %}
    {% for form in forms %}
    <div class="upload">
        <img src="{{ url_for('static', filename='images/' + form.image)}}" alt="{{form.file_id}}">
        <form action="{{ url_for('index')}}" method="POST" enctype="multipart/form-data">
            <input name="file_id" type="hidden" value="{{form.file_id}}">
                <input type="file" name="file" id="{{form.file_id}}">
                <input type="submit" value="Upload">
        </form>
    </div>
    {% endfor %}
{% endblock %}
</div>
{% endblock %}